.taskContainer{
    width: 90%;
    height: 60px;
    padding: 1em;
    display: flex;
    color: white;
    margin: 1em 0;
    justify-content: space-between;
    align-items: center;
    background: rgba(50, 149, 30, 0.35);
    border-radius: 8px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.8px);
    -webkit-backdrop-filter: blur(2.8px);
}

.taskContainerComplete{
    text-decoration: line-through;
    background: rgba(149, 25, 104, 0.15);
    border-radius: 8px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.8px);
    -webkit-backdrop-filter: blur(2.8px);
    border: 1px solid rgba(149, 25, 104, 0.3);
}

.taskTitle{
    width: 80%;
    height: 100%;
    font-size: 1.2em;
}

.taskIconContainer{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.taskIcon{
    width: 1.6em;
    height: 1.em;
}

