.titleH1{
    color: #ffffff;
    font-family: 'Raleway',sans-serif;
    font-size: 2em;
    font-weight: 800;
    text-align: center;
}

.subtitleH2{
    color: #ffffff;
    font-family: 'Raleway',sans-serif;
    font-size: 1.1em;
    font-weight: 800;
    line-height:36px;
    text-align: center;
}